<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret One">
    <title>Url Shortener</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />x
</head>
<body>
  <div class="maintop">
    <h1>
      URL SHORTENER
    </h1>
  </div>
    <div class="instruct">
      <h1>Paste a valid link into the box!</h1>
    </div>
  <br>
  <div class="midfill">
<!--     <div class="instruct">
        <h1>Paste a valid link into the box!</h1>
    </div> -->
      <div class="inputs">
        <form action="/" method="post">
            <input type="text" name="url" class="inputBox"placeholder="Enter URL">
<!--             <input type="submit" value="Shorten"> -->
        </form>
      </div>
  </div>

</body>
</html>